{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}About Page{% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>About</h1>
    </div>
    <div>
        <p>This is <strong>Rango's <b>{{ descriptor }}</b> page!</strong></p>
        <p>You have visited the site on <strong>{{ visits }} occasion(s).</strong>
        <p>Here is a picture of Rango!</p>
        <img src="{% static "images/about.jpg" alt="About Page Picture" %}">
    </div>
{% endblock %}