{% extends 'rango/base.html' %}

{% load static %}

{% block title %}
    {% if category_name %}
        {{ category_name }}
    {% else %}
        Category Does Not Exist
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if category %}
        <div class="page-header">
            <h1>{{ category_name }}</h1>
            <span class="badge" id="like-count">{{ category.likes }} likes</span>
        </div>

    
        {# Display the search bar. #}
        <div id="search">
        <div class="row">

            <div class="panel">
                <br>

                <form class="form-inline" id="user_form" method="post" 
                    action="{% url 'category' category.slug %}">
                
                    {% csrf_token %}
                    <label for="id_query">Search Category</label>
                    <br>
                    <!-- Display the search form elements here -->
                    <input class="form-control" type="text" size="50" name="query" value="" id="id_query">
                    <input class="btn btn-primary" type="submit" name="submit" value="Search">
                    <br>
                </form>

                <div class="panel">
                    {% if result_list %}
                    <div class="panel-heading">
                        <h3 class="panel-title">Results</h3>
                        <!-- Display search results in an ordered list -->
                        <div class="panel-body">
                            <div class="list-group">
                                {% for result in result_list %}
                                    <div class="list-group-item">
                                        <h4 class="list-group-item-heading"><a href="{{ result.link }}">{{ result.title }}</a></h4>
                                        <p class="list-group-item-text">{{ result.summary }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        </div>


        {% if pages %}
            <ul class="list-group">
                {% for page in pages %}
                    <li class="list-group-item">
                        <a href="{% url 'goto' page.id %}">{{ page.title }}</a>
                        <span class="badge">
                            {% if page.views > 1 %}
                                {{ page.views }} views
                            {% elif page.views == 1 %}
                                {{ page.views }} view
                            {% endif %}
                        </span>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p><strong>No pages currently in category.</strong></p>
        {% endif %}

        {% if user.is_authenticated %}
            <a href="{% url 'add_page' category.slug %}" class="btn btn-primary" type="submit" 
                name="submit">
                    Add a new page
            </a>
        {% else %}
            <a href="{% url 'auth_login' %}" class="btn btn-primary" type="submit" 
                name="submit">
                    Log in to add a new page
            </a>
        {% endif %}
            <button class="btn btn-default" id="like-button" data-cat-id="{{ category.id }}"
                data-cat-url="{% url 'like_category' category.id %}">
                
                <span class="glyphicon glyphicon-thumbs-up"</span>
                Like
            </button>
    {% else %}
        <div class="page-header">
            <h1>Category Does Not Exist</h1>
        </div>
        
        <p>The specified category <strong>{{ category_name_slug }}</strong> does not exist!</p>
    {% endif %}

{% endblock %}